# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.common

# IDE
.idea/

# Logs
logs/

# Temporary files
temp/

# PostgreSQL data
postgres_data/

# VOICEVOX configuration
voicevox_config/

# Docker
docker-compose.yml